.section a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.title-text {
  text-align: center;
}

.button {
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
}

body {
  background: #ccc;
}

